<footer class="bg-dark">
    <div class="container px-1 py-3">
        <div class="row">
            <div class="col-12 col-sm-6">
                <img src="assets/img/logo-white.png" alt="">
                <p class="pt-4 mt-4 text-white">
                    2017 Forma LLC. All rights reserved.
                </p>
            </div>
            <div class="col-12 col-sm-3 text-white">
                <p>Keep in touch with us</p>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item bg-dark border-0 pl-0">fb</li>
                    <li class="list-group-item bg-dark border-0">tw</li>
                    <li class="list-group-item bg-dark border-0">tm</li>
                </ul>
            </div>
            <div class="col-12 col-sm-1 text-white px-0">
                <ul class="list-unstyled links">
                    <li>Festival programme</li>
                    <li class="mt-2">Support the festival</li>
                </ul>
            </div>
            <div class="col-12 col-sm-1 text-white px-0">
                <ul class="list-unstyled links">
                    <li>Plan your experience</li>
                    <li class="mt-2">About</li>
                </ul>
            </div>
            <div class="col-12 col-sm-1 text-white px-0">
                <ul class="list-unstyled links">
                    <li>Media</li>
                </ul>
            </div>
        </div>
    </div>
</footer>