<div class="container-fluid">
    <div class="text-center">
        <h3>{{ title }}</h3>
    </div>
    <form (submit)="save()" [formGroup]="commentForm">
        <div class="row">
            <div class="col-12 col-sm-9">
                <div class="form-group">
                    <label for="name">*Name</label>
                    <input formControlName="name" [class.is-invalid]="invalidName" type="text" class="form-control"
                        id="name" placeholder="Name">
                    <div class="invalid-feedback">
                        Name required without numbers
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <div class="form-group">
                    <label for="age">*Age</label>
                    <input formControlName="age" [class.is-invalid]="invalidAge" type="number" class="form-control"
                        id="age" placeholder="Age">
                    <div class="invalid-feedback">
                        Required age (only enter numbers)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="comment">*Comment <small class="text-secondary">({{ maxLengthComment }} characters
                            maximum)</small></label>
                    <textarea formControlName="comment" [class.is-invalid]="invalidComment" class="form-control"
                        id="comment" rows="3"></textarea>
                    <div class="invalid-feedback">
                        Comment required ({{ maxLengthComment }} characters maximum)
                    </div>

                </div>
            </div>
        </div>
        <div *ngIf="showLoadding" class="row m-2">
            <div class="col-12 text-center">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Wait a moment
                        please</div>
                </div>
            </div>
        </div>
        <button *ngIf="!showLoadding" type="submit" class="btn btn-outline-info">Send comment</button>
        <button (click)="executeFakeWS()" type="button" class="btn btn-outline-danger float-right">Click para ejecutar
            "Fake WS"</button>
        <div *ngIf="fakeResponse" class="row">
            <div class="col-12 text-left text-danger">
                <hr>
                <strong>Ruta del intercepto:</strong>
                <br>
                src\app\core\interceptors\fake-response.interceptor.ts
                <hr>
                <strong>Repuesta:</strong>
                <pre class="text-danger">{{ fakeResponse | json }}</pre>
            </div>
        </div>
    </form>
</div>